<!doctype html>
<html>
    <head>
        <title>Shortly</title>
    </head>
    <body>
        <div>
            Menu:
            <a href="{{ url_for('main.index') }}">Home</a> | 
            <a href="{{ url_for('main.convert') }}">Get Short URL</a> | 
            <a href="{{ url_for('main.consult') }}">Get Original URL</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>